*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    display: flex;
    /* al#ign-items: center; */
    justify-content: center;
    margin: 60px auto;
    text-align: center;
}

.details{
    margin: 0 32px;
}

.countdown{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

img{
    border-radius: 20px;
    margin-right: 10px;
}


body{
    background-color:royalblue;
}
#days, #hours, #minutes, #seconds {
    background-color: black;
    border-radius: 5px;
    display: grid;
    color: #fff;
    margin-right: 1rem;
    width: 5rem;
    padding: 12px 0;
    place-items: center;
    text-align: center;
}









/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.countdown{
    display: flex;
    transform:scale(2)
}

h1{
    font-weight: normal;
    font-size: 60px;
    margin:15px
}

.time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
} */
